body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
  background-color: #ccdfec;
  color: white;
  text-align: center;
}

header {
    background-color: #ffc6d0;
    padding: 1rem;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

h1 {
  color: #ff69b4;
  margin-bottom: 0.5em;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.controls input,
.controls select,
.controls button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}