body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
  background-color: #ccdfec;
  color: white;
  text-align: center;
}

header {
    background-color: #ffc6d0;
    padding: 1rem;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

h1 {
  color: #ff69b4;
  margin-bottom: 0.5em;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.controls input,
.controls select,
.controls button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#catImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#catInfo {
  margin: 1em 0;
  font-size: 1.1rem;
  color: #444;
}

#favBtn {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

#favBtn:hover {
  background-color: #e0559e;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

.favorite-item {
  position: relative;
  border: 2px solid #ff69b4;
  border-radius: 10px;
  overflow: hidden;
  width: 120px;
}

.favorite-item img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.favorite-item button {
  position: absolute;
  top: 2px;
  right: 4px;
  background: #ff4444;
  border: none;
  color: white;
  font-size: 0.9rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}